wp-content/debug.log
wp-content/cache/
wp-content/uploads/
wp-content/upgrade/
wp-content/uploads.zip
wp-content/uploads.rar
wp-content/uploads.tar.gz
wp-content/plugins/wp-lorem-ipsum
wp-content/plugins/lorem-ipsum
.idea
/**/.idea/workspace.xml
.DS_Store