.c__box-image {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.c__box-image img {
    max-width: 250px;
    max-height: 250px;
}

.c__hidden {
    display: none;
}
