.c__validate--success,
.c__validate--error {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0 0;
}

.c__validate--success {
    color: #55cd6c !important;
}

.c__validate--error {
    color: #9e0004 !important;
}

.c__validate--warning {
    border: 1px solid #9e0004 !important;
}

.c__validate--message{
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.c__validate--warning.c__validate--message {
    border: none !important;
    color: #9e0004 !important;
}

#solicitar-atendimento .c__validate--success {
    color: #fff !important;
}