.c-pagination {
    margin-top: 30px;
    text-align: center;
}

.page-numbers {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.page-numbers.current,
.page-numbers.disabled {
    opacity: 0.6;
}

.page-numbers:hover {
    opacity: 0.6;
}